/*-------------GENERAL STYLES-------------------------------*/
body{
    text-align: center;
}

footer{
    background-color: black;
    color: darkgray;
    font-weight: bolder;
}

img{
    width:25%;
    height:auto;
}

/*-------------ID STYLES------------------------------------*/
#introEnvelop{
    background-color: blue;
    color:whitesmoke
}

#actionMenu{
    background-color:cadetblue;
}


#ArenaEnvelope{
    background-color: darkgray;
    border:1px darkslategrey solid;
}

#hpmp{
    background-color: khaki;
    border: 2px darkgoldenrod inset;
}

/*-------------CLASS STYLES---------------------------------*/
.actionTxt{
    background-color: lightblue;
    border: 1px teal solid;
    width:1%;
    height: 25px;
    font-family: "Hammersmith One";
    font-size: x-large;
}
.actionTxt:hover{
    cursor: pointer;
    background-color: rgb(110, 161, 179);
    border: 1px teal solid;
}

.actionTxt:active{
    background-color: rgb(58, 105, 122);
    border: 1px lightblue solid;
    color:lightblue
}

.sideMenu{
    background-color:rgb(19, 19, 19);
    border:1px rgb(49, 49, 49) solid;
    color:ghostwhite;
}

/*-------------KEYFRAMES------------------------------------*/