/*-------------GENERAL STYLES-------------------------------*/
body{
    text-align: center;
}

footer{
    background-color: black;
    color: darkgray;
    font-weight: bolder;
}

/*-------------ID STYLES------------------------------------*/
#introEnvelop{

}

#actionMenu{
    background-color:cadetblue;
}

/*-------------CLASS STYLES---------------------------------*/
.actionTxt{
    background-color: lightblue;
    border: 1px teal solid;
    width:  50px;
    height: 25px;
}


/*-------------KEYFRAMES------------------------------------*/